/***** FAQ Section *****/

.faq-section {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid $low-contrast-border-color;
}

.faq-section__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq-section__question {
  font-weight: $font-weight-semibold;
  margin: 0 0 6px;
}

.faq-section__answer {
  margin: 0;
}
